body {
    width: 70%;
    font-family: 'IBM Plex Serif', serif;
    margin: 0 auto;
  }
  
  header div div {
    display: inline-block;
    margin-top: 2em;
    display: flex;
    width: 257px;
    
  }

  header div div img{
    height: 52px;
  }

  header div div section {
    float: left;
    margin-top: -60px;
  }

  header div div section p h5
  {
    margin-top: -57px;
  }

  header div ul:last-of-type
  {
    margin-right: 68px;
    margin-top: -145px;
  }

  header div ul:nth-child(2)
  {
    margin-top: -145px;
  }
  
  h4 {
    font-family: 'Yellowtail', cursive;
    font-size: 2.3em;
  }
  
  h5 {
    font-family: 'VT323', monospace; 
    color: grey;
    font-size: 13px;
    margin-left: 7px;
  
  }
  
  header div ul {
  
    float: right;
    margin-top: 2.5em;
    margin-left: -23px;
  
  }
  
  header div ul li {
    display: inline-block;
  
  }
  
  header div ul:last-child {
    margin-left: 4em;
  }
  #form1{
   float: right;
  }
  
  hr {
    height: 10px;
    border: 0;
    transform: rotate(180dec);
  }
  
  h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    margin-top: 1em;
  }
  
  h2 {
    font-family: 'VT323', monospace; 
    font-size: 13px;
    color: grey;
  }

  #print-icon{
    display: flex;
    float: right;

  }
  
  #Pizza-cake {
    width: 100%;
  
  }
  
  #First{
    background-image: url('/img/list-bg.png') ;
    display: flex;
  }
  
  .col1, .col2 {
  
    width: 300px;
    float: left;
    margin-left: 130px;
  }
  
  main div form label {
    display: block;
  }
  
  p {
    text-indent: 30px;
    margin-top: 30px;
  
  }
  
  footer{
    margin-top: 63px;
    border-top: 10px solid gainsboro;
}
  

   footer div:nth-child(2) img{
     display: inline-block;
   }

   footer div:nth-child(1){
    margin: 32px;
   }
  

   footer div:nth-child(1) a {
    text-align: center;
    float: right;
    margin-top: -173px;
    /* padding-right: 20px; */
    background-color: red;
    text-decoration: none;
    padding: 11px;
    padding-left: 30px;
    color: white;
   }


   footer div:nth-child(2){
    text-align: center;
    margin-top: 130px;
    border-top: 1px solid gainsboro;
}

footer div:nth-child(2) img{
  margin-top: -14px;
}

footer div:nth-child(2) p {
  color: gainsboro;
}
  